@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body {
	font-family: 'Roboto', sans-serif;
}
.transforms {
	width:50%; 
	margin:auto;
}
div.practice {
	width: 200px;
	height: 100px;
	color: #fff;
	background: red;
	margin-bottom: 15px;
	animation: changeBackground 20s ease-in-out 1s infinite alternate;
}

@keyframes changeBackground {
	0% { background-color: red; }
	20% { background-color: blue; }
	40% { background-color: green;  }
	60% { background-color: purple; }
	80% { background-color: yellow;  }
	100% { background-color: red;  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
	.transforms {
		width: 100%;
	}
	div.practice {
		width: 100%;
	}
}